%script{:type => "text/javascript",
        :src => "https://actionnetwork.org/widgets/v3/petition/project-redline-defend-democracy-and-stand-up-to-trump?format=js&source=widget",
        :async => "", :defer => ""}
.header
  %h1#project project
.header
  %h1#_redline _red ine


.container
  .content
    .h3.motivation#initial-snippet
      .redline#emphasized Robert Mueller is investigating Trump’s connections to Russia.
    .h3.motivation
      .redline When Russia interfered in our 2016 election, our government asked Robert Mueller to investigate. As a former FBI director, war hero, and conservative, Mueller was seen as the man for the job <b>#{link_to("by Republicans and Democrats alike", "https://www.nytimes.com/2017/05/17/us/politics/robert-mueller-special-counsel-russia-investigation.html")}</b>.
    .h3.motivation
      .redline#emphasized Mueller’s investigation is under attack from Trump.
    .h3.motivation
      .redline One year later, Mueller’s investigation is gaining speed, <u>and evidence is emerging</u> that <u>Trump’s team may have worked with Russia</u> and <u>obstructed justice</u>. Mueller has already <u>charged notable Trump campaign officials</u> with crimes. However, Mueller’s investigation is under fire from Republican leaders and President Trump himself.
    .h3.motivation
      .redline#emphasized <b>Trump may fire Mueller to shut down the investigation and hide the truth.</b>
    .h3.motivation
      .redline Trump has already <u>secretly tried to stop the investigation</u>, and is now <u>publicly considering firing Mueller</u>. If Trump is innocent, then he has nothing to hide. On the other hand, if Trump’s campaign conspired with Russia, then the American people need to know what happened. Either way, Mueller’s investigation is the only way we’ll know the truth.

  .crossing-line
    #text If Trump fires Mueller, he crosses a red line.

  .law-and-order
    .h3.truthiness
      %p.redline Trump is accountable to us, and we deserve to know the truth.
    .h3.not-prez
      %p.redline Nobody is above the law–not even the President. If Trump fires the person investigating him, we need to take to the streets across America and march for the truth.

  .join-us
    Will you join us in pledging to protest if Trump fires Mueller?
    %p#rapidly We’ll send you a rapid response alert on the day Mueller is fired, along with details about protests in your area organized by MoveOn.org.

  .petition
    #can-petition-area-project-redline-defend-democracy-and-stand-up-to-trump(style="width: 100%")