// Place all the styles related to the volunteers controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: url(redlineRedText.jpg) center fixed;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
#id > img {
  position: fixed;
  width: 100%;
  margin-top: -3.12em;
  z-index: -999;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PT Mono', monospace;
  text-align: center;
}
.header > h1 {
  font-size: 4.5rem !important;
  color: #c0091d;
}
.header > h1#project {
  margin: 0;
  background: #f5f5f3;
}
.header > h1#_redline {
  margin-right: 0.6em;
}
.redline-q > h1#emphasized {
  text-align: center;
  font-size: 3.5rem;
  margin: -0.3em;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: right;
  max-width: 100%;
  margin: 6em auto;
}
.law-and-order {
  margin-top: 2em;
}
.content, .law-and-order {
  display: grid;
  grid-template-columns: 1fr 1fr;
} 
.join-us > #rapidly {
  padding-top: 1.7em;
  font-size: 1.5rem;
  font-weight: initial;
}
.crossing-line, .join-us {
  margin: 4em auto;
  width: 80%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
}
.crossing-line,
.redline,
.join-us,
.redline-q,
.terms_and_conditions {
  background: linear-gradient(90deg, rgba(246, 246, 245, 0.45), whitesmoke, rgba(246, 246, 245, 0.45));
  border-top: #c1071e solid 1px;
  border-bottom: #c1071e solid 1px;
  padding: 2.4rem;
}
.redline {
  margin-bottom: 1rem;
}
.redline a {
  color: inherit;
  text-decoration: underline;
  font-weight: unset;
}
.redline a:hover{
  color: red;
}
.motivation, .truthiness, .not-prez, .redline-q {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3em;
}
#emphasized {
  font-weight: 600;
}
.h3:not(#emphasized) {
  font-weight: 200;
}
.petition {
  margin: auto;
  border: 1px solid #c1071e;
}
.truthiness > p.redline {
  font-weight: bold;
}

/**
  Mobile devices, come hither.
*/
@media screen and (max-width: 900px) {
  .motivation, .truthiness, .not-prez, .redline-q {
    margin: 3em auto; 
  }
  .content, .law-and-order  {
    grid-template-columns: 1fr;
    width: 95%;
  }
  .join-us {
    width: unset;
    padding: 1em .6em;
  }
  .law-and-order {
    grid-template-columns: unset;
  }
  .h3.redline-q {
    text-align: center;
  }
  .container > div {
    margin-top: 7em;
  }
}
@media screen and (max-width: 800) {
  .motivation, .truthiness, .not-prez {
    margin: 3em .2em;
  }
  .h3.redline-q {
    margin: 3em auto;
    text-align: center;
    font-size: 2rem;
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .header > h1 {
    font-size: 4rem;
  }
}