// Place all the styles related to the volunteers controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: url(redlineNoText.jpg) no-repeat center center fixed;
  background-size: auto 100%;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}
#id > img {
  position: fixed;
  width: 100%;
  margin-top: -3.12em;
  z-index: -999;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PT Mono', monospace;
  text-align: center;
}
.header > h1 {
  font-size: 4.5rem !important;
  color: #BB0B20;
}
.header > h1#project{
  background: #f5f5f3;
  margin: 0 10px 0 0;
}
.header > h1#_redline{
}
.redline-q > h1#emphasized {
  text-align: center;
  font-size: 2.5rem;
  margin: -0.3em;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: right;
  max-width: 100%;
}
.law-and-order {
  margin-top: 2em;
}
.content, .law-and-order {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  width: 90%;
} 
.join-us > #rapidly {
  padding-top: 1.7em;
  font-size: 1.5rem;
  font-weight: initial;
}
.crossing-line,
.join-us,
.privacy-policy {
  margin: 4em auto;
  width: 80%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
}
.crossing-line,
.redline,
.join-us,
.redline-q,
.privacy-policy {
  background: linear-gradient(90deg, rgba(246, 246, 245, 0.45), whitesmoke, rgba(246, 246, 245, 0.45));
  border-top: #BB0B20 solid 1px;
  border-bottom: #BB0B20 solid 1px;
  padding: 2rem;
}
.redline {
  margin-bottom: 1rem;
}
.redline a {
  color: inherit;
  text-decoration: underline;
  font-weight: unset;
}
.redline a:hover{
  color: #BB0B20;
}
.motivation,
.truthiness,
.not-prez,
.redline-q {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em auto;
  width: 80%;
}
#emphasized {
  font-weight: 600;
}
.h3:not(#emphasized) {
  font-weight: 200;
}
.petition {
  margin: auto;
  border: 1px solid #BB0B20;
}
.truthiness > p.redline {
  font-weight: bold;
}
.privacy-policy {
  border-top: unset;
  font-weight: 100;
  font-size: 1rem;
  margin-top: 0;
  padding: 0 0.3em;
  width: 50%;
}
.footer {
  display: flex;
  align-items: center;
}
.footer.redline {
  margin: auto;
  padding: 1rem;
  width: 90%;
}
.footer > .contact {
  flex: 4;
}
.footer > .civic {
  flex: 1;
}
.civic > img {
  width: 30%;
}
.privacy-page {
  background: rgba(246, 246, 245, 0.75);
  border: solid 1px #BB0B20;
  padding: 2em;
  margin: 6em auto;
  width: 70%;
}
.privacy-page > h1.privacy-page-title {
  text-align: center;
}

/**
  Mobile devices, come hither.
*/
@media screen and (max-width: 900px) {
  .motivation,
  .truthiness,
  .not-prez,
  .redline-q {
    margin: 3em auto; 
  }
  .content, .law-and-order  {
    grid-template-columns: 1fr;
    width: 95%;
  }
  .join-us {
    width: unset;
    padding: 1em .6em;
  }
  .law-and-order {
    grid-template-columns: unset;
  }
  .h3.redline-q {
    text-align: center;
  }
  .container > div:not(.privacy-policy) {
    margin-top: 7em;
  }
}
@media screen and (max-width: 800) {
  .motivation, .truthiness, .not-prez {
    margin: 3em .2em;
  }
  .h3.redline-q {
    margin: 3em auto;
    text-align: center;
    font-size: 2rem;
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .header > h1 {
    font-size: 4rem;
  }
}
/* Change the form background color, text color, and typeface */
.can_embed #can_embed_form,
.can_embed #donate_auto_modal {
    background-color: whitesmoke !important;
    color: black !important;
}/* Button Background Color */
.can_embed .can_button,
.can_embed #can_embed_form input[type="submit"],
.can_embed #can_embed_form .button,
.can_embed #donate_auto_modal input[type="submit"],
.can_embed #donate_auto_modal .button {
    background-color: #BB0B20
!important;
}/* Remove the Action Network Logo */
.can_embed #logo_wrap {
    display: none !important;
}
