// Place all the styles related to the volunteers controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}
.background > img {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -9999;
  object-fit: cover;
}
.header {
  font-family: 'PT Mono', monospace;
  text-align: center;
}
.header > h1 {
  font-size: 4.6rem;
  color: #a0262b;
}
.redline-q {
  margin-top: 4em !important;  
}
.redline-q > h1#emphasized {
  text-align: center;
  font-size: 2.5rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: right;
  max-width: 100%;
}
.law-and-order {
  margin-top: 2em;
}
.content, .law-and-order {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  width: 90%;
} 
.join-us > #rapidly {
  padding-top: 1.7em;
  font-size: 1.5rem;
  font-weight: initial;
}
.crossing-line,
.join-us,
.privacy-policy {
  margin: 4em auto;
  width: 80%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
}
.crossing-line,
.redline,
.join-us,
.redline-q,
.privacy-policy {
  background: linear-gradient(90deg, rgba(246, 246, 245, 0.45), whitesmoke, rgba(246, 246, 245, 0.45));
  border-top: #c1071e solid 1px;
  border-bottom: #c1071e solid 1px;
  padding: 2rem;
}
.redline {
  margin-bottom: 1rem;
}
.redline a {
  color: inherit;
  text-decoration: underline;
  font-weight: unset;
}
.redline a:hover{
  color: #c1071e;
}
.motivation,
.truthiness,
.not-prez,
.redline-q {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em auto;
  width: 80%;
}
#emphasized {
  font-weight: 600;
}
.h3:not(#emphasized) {
  font-weight: 200;
}
.petition {
  margin: auto;
  border: 1px solid #c1071e;
}
.truthiness > p.redline {
  font-weight: bold;
}
.privacy-policy {
  border-top: unset;
  font-weight: 100;
  font-size: 1rem;
  margin-top: 0;
  padding: 0 0.3em;
  width: 50%;
}
.footer {
  display: flex;
  align-items: center;
}
.footer.redline {
  margin: auto;
  padding: 1rem;
  width: 90%;
}
.footer > .contact {
  flex: 4;
}
.footer > .civic {
  flex: 1;
}
.civic > img {
  width: 30%;
}
.privacy-page {
  background: rgba(246, 246, 245, 0.75);
  border: solid 1px #c1071e;
  padding: 2em;
  margin: 6em auto;
  width: 70%;
}
.privacy-page > h1.privacy-page-title {
  text-align: center;
}

/**
  Mobile devices, come hither.
*/
@media screen and (max-width: 900px) {
  .motivation,
  .truthiness,
  .not-prez,
  .redline-q {
    margin: 3em auto; 
  }
  .content, .law-and-order  {
    grid-template-columns: 1fr;
    width: 95%;
  }
  .join-us {
    width: unset;
    padding: 1em .6em;
  }
  .law-and-order {
    grid-template-columns: unset;
  }
  .h3.redline-q {
    text-align: center;
  }
  .container > div:not(.privacy-policy) {
    margin-top: 7em;
  }
}
@media screen and (max-width: 800) {
  .motivation, .truthiness, .not-prez {
    margin: 3em .2em;
  }
  .h3.redline-q {
    margin: 3em auto;
    text-align: center;
    font-size: 2rem;
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .header > h1 {
    font-size: 4rem;
  }
}
@supports (-webkit-overflow-scrolling: touch) {
  .background > img {
    object-fit: cover;
  }
}
